@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic');

html {
  position: relative;
  min-height: 100%;
}
body{
	font-family: Ubuntu,sans-serif;
	font-weight: normal;
	color: #595757;
	text-align: center;
	padding-bottom:183px;
}
h2 {
font-size: 2.5em;
line-height: 46px;
font-weight: 400;
-webkit-text-stroke: 0.01em;
margin-bottom: 20px;
color:#000;
}
h3{
color:#000;
}
hr.head-separator {
border-color: #FF5349;
width: 100px;
border-width: 2px;
}

section{
	padding-top: 6%;
padding-bottom: 6%;
}

p {
	font-weight: 300;
}

.news-entries a,
.news-entries a:hover,
.news-entries a:active,
p a,
p a:hover,
p a:active,
form a,
form a:hover,
form a:active {
	color: #d11820;
}
fieldset {
	background-color: #f9f9f9;
	border: 3px solid #efefef;
	border-radius: 6px;
	padding: 15px 22px;
	margin-bottom: 25px;
}
fieldset h4 {
	position: relative;
	margin-bottom: 48px;
}
fieldset h4:after {
	content: '';
	position: absolute;
	left: -22px;
	right: -22px;
	bottom: -26px;
	border-bottom: 1px solid #e5eff4;
}

.navbar {
	margin: 0;
	border: 0;
}
.navbar section {
	padding: 0;
}
.navbar h1 {
	margin: 10px 0;
}
.navbar-brand {
	height: auto;
	padding: 0;
	margin-right: 89px;
	margin-top: 29px;
}
.navbar-nav > li > a {
	padding: 102px 9px 4px;
	font-size: 22px;
	height: 166px;
	color: #2c3e50;
}
.navbar-nav > li.active > a {
	color: #ffffff;
	background-color: #d11820;
}

section.banner {
	position: relative;
	padding: 48% 0 0 0;
	background-color: transparent;
	background-size: cover;
}
.banner-text {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20%;
	font-size: 66px;
}
.home.banner {
	background-image: url('/images/plant3_sml.jpg');
	background-position: center bottom;
}
.home .banner-text {
	margin: 34.8% 0 0 8.2%;
	color: #000000;
}

.section-head p, .section-head ul {
font-weight: 100;
text-align: justify;
}

.highlight {
	color: #d11820;
}

.btn-lg{
	font-size: 20px;
padding: 20px 0 20px 0;
margin: 20px;
width:256px;
}

.btn {
	transition: background-color 400ms;
}

.btn-primary {
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.btn-primary:hover,
.btn-primary:active {
	background-color: #c74234;
	border-color: #e74c3c;
}
.btn-default {
	background-color: #f26735;
	border-color: #f26735;
}
.btn-default:hover,
.btn-default:active {
	background-color: #d95d30;
	border-color: #f26735;
}

.btn-lg:hover{
	background-color:#fff;
	color:#000;
}
.home-buttons{
	margin-top: 60px;
}

.browser-hero {
	background: #a6171d url('/images/hero-bg.jpg') no-repeat center top;
	color: #ffffff;
}
.browser-hero section {
	padding: 68px 15px 92px;
}
.browser-hero h1 {
	margin-bottom: 50px;
}
.browser-hero h2 {
	font-size: 50px;
	margin-bottom: 8px;
	color: inherit;
}
.browser-hero .btn {
	font-size: 22px;
	width: 222px;
	padding-top: 11px;
	padding-bottom: 11px;
	margin: 0 16px;
	color: inherit;
}
.browser-hero .slogan {
	font-size: 30px;
	margin-bottom: 62px;
}

/* About Us */

.about.banner {
	background-image: url('/images/road_sml.jpg');
	background-position: center center;
}
.about.banner .banner-text {
	color: #ffffff;
	font-size: 36px;
}
.banner .about-text-1 {
	margin: 16.5% 0 0 48%;
}
.banner .about-text-2 {
	margin: 19.2% 0 0 52%;
}
section.team {
	padding-top: 20px;
}
.team h2 {
	margin: 60px 0;
}
.team h3 {
	line-height: 1.4;
	font-size: 20px;
	margin: 30px 0;
}
.team .image-container {
	position: relative;
}
.team img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}
.team p {
	font-size: 17px;
}

/* News */

.news.banner {
	background-image: url('/images/remember_sml.jpg');
	background-position: center center;
	position: relative;
}
.news .banner-text {
	top: auto;
	left: auto;
	bottom: 3%;
	right: 2.5%;
	margin: 0;
	text-align: left;
	font-size: 36px;
	color: #231f20;
}

section.news + h2 {
	margin-bottom: -25px;
}
.news-entries {
	font-family: 'Helvetica Neue', Calibri, sans-serif;
	text-align: left;
}
.news-entries h3 {
	font-size: 35px;
	font-weight: 400;
}
.news-entries h4 {
	font-size: 30px;
	font-weight: 300;
}

.news-section section {
	padding: 60px 15px;
}

/* Law Browser Features */

.lb-section section {
	padding: 135px 15px;
}
.lb-section h3,
.lb-section p {
	text-align: left;
}
.lb-section h2 {
	font-size: 50px;
	color: #d11820;
}
.lb-section h3 {
	font-size: 50px;
	color: #231f20;
	margin: 0 0 10px;
}
.lb-section p {
	font-size: 18px;
	color: #231f20;
}
.lb-section a {
	color: #d11820;
}
.news-odd,
.lb-odd {
	background-color: #efefef;
}
.lb-even .fa {
	color: #d11820;
}
.lb-odd .fa {
	color: #231f20;
}
.lb-section .fa-search {
	font-size: 170px;
}
.lb-section .fa-book {
	font-size: 174px;
}
.lb-section .fa-bookmark {
	font-size: 196px;
}
.lb-section .fa-arrows-alt {
	font-size: 180px;
}
.lb-section .fa-list-ol {
	font-size: 166px;
}
.lb-section .fa-cloud {
	font-size: 154px;
}
.icon-outer {
	position: absolute;
	height: 100%;
}
.icon-inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.icon-pad {
	padding-left: 186px;
}

.news-odd + .news-even:before,
.news-even + .news-odd:before,
.lb-odd + .lb-even:before,
.lb-even + .lb-odd:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: calc(50% - 54px);
	border-style: solid;
	border-width: 55px 54px 0 54px;
}
.news-even + .news-odd:before,
.lb-even + .lb-odd:before {
	border-color: #ffffff transparent transparent transparent;
}
.news-odd + .news-even:before,
.lb-odd + .lb-even:before {
	border-color: #efefef transparent transparent transparent;
}

.fade-container {
	opacity: 0;
	transition-property: opacity, margin-left, margin-right;
	transition-duration: 1800ms;
	transition-delay: 300ms;
}
.lb-odd .fade-container {
	margin-left: -200px;
	margin-right: 200px;
}
.lb-even .fade-container {
	margin-left: 200px;
	margin-right: -200px;
}
.fade-container.fade-in {
	opacity: 1;
	margin-left: 0px;
	margin-right: 0px;
}

/* Signup */

.login-banner {
	background-color: #efefef;
}
.login-banner section {
	padding-top: 70px;
	padding-bottom: 70px;
}
.login-banner .slogan,
.login-banner .member {
	font-size: 22px;
	color: #d11820;
}
.btn.signup {
	font-size: 17px;
	width: 185px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.login-banner .signup {
	margin: 55px 0 11px;
}
.trial-info {
	margin-bottom: 30px;
}
.trial-info h2 {
	padding-left: 42px;
}
.trial-info p {
	font-size: 18px;
	padding: 0 42px;
}
.signup-with-message {
	margin: 16px 0 10px;
	font-weight: bold;
}

/* Login */

.login,
.quote{
	background-image: url(/images/type_sml.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
display: block;
position: relative;
height:800px;
}

.quote-remember{
	background-image: url(/images/remember-tall.jpg);
	height:500px;
}
.iceberg{
	background-image: url(/images/iceberg.jpg);
	padding-top: 200px;
}
.iceberg h2{
	color:#fff;
	text-align:right;
}
.login{
/*background-image: url(/images/gateleft.jpg), url(/images/gateright.jpg);
height: 100%;
position: absolute;
width: 100%;
background-size: 50% auto, 50% auto;
background-position: 0 center, 100% center;
background-color:#000;*/
background-image: url(/images/gate-widened.jpg);
position: absolute;
width: 100%;
height: calc(100% - 100px);

}

.login-form label.control-label{
	color:#fff;
	font-weight:100;
}
.footer{
	position: absolute;
bottom: 0;
width: 100%;
background-color: #f5f5f5;
}

.people{
	background-color:#f8f8f8;
}

.people .section-head p{
	text-align:center;
}
.blurb-col{
	padding-bottom:28px;
}
.footer{
	background-color:#141414;
	padding-top:80px;
	padding-bottom:60px;
}
.footer .footer-links li{
	list-style:none;
	display:inline;
	margin:20px;
}
.footer  .nav-links a {
	text-transform: uppercase;
	color:#626262;
	font-size: 11px;
	padding:10px;
}

.blurb{
	text-align: justify;
}

.investor-bg{
	background-image:url(/images/road_sml.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.investor-page p {
	text-align: justify;
}

.investor-page img{
	max-width: 100%;
}

.investor-intro{
	color:#fff;
height: 750px;
padding-top: 80px;
text-align:left;
}
.investor-intro h1{
	font-weight:300;
	font-size: 46px;
	color:#fff;
}
.investor-info h3{
	color:#000;
	font-size: 22px;
}

.investor-info{
	background-color: #fff;
}
.investor-info .service p{

}
.investor-info h4{
	color:#ff5349;
}


.investor-info .col-img{
	margin-top:32px;
}

.push-large{
	height:500px;
}

.bullet-heading{
	font-style:italic;
}
.documents a{
	color: #FF5349;
}
.investor-reliable{
	padding-top:0;
}
.blog-entry{
	text-align:justify;
}
.blog-entry p{
	padding-left:40px;
}

h3 .degrees{
	font-size: 18px;
}


@media only screen and (min-width : 1200px) {
	.quote-remember{
	height: 1200px;
	}
}

@media only screen and (min-width : 1800px) {
	.quote-remember{
	height: 1500px;
	}
}

/* Tablet */
@media only screen and (max-device-width: 1024px) {
	.container {
		max-width: 100%;
	}
	.navbar-brand {
		width: 175px;
	}
	.navbar-brand img {
		margin-left: 15px;
		width: 100%;
	}
	.navbar-nav > li > a {
		height: 110px;
		padding-top: 60px;
		font-size: 16px;
	}
	.navbar-collapse {
		max-width: 100%;
	}
	.banner-text {
		font-size: 33px;
	}
	.news .banner-text,
	.about.banner .banner-text {
		font-size: 26px;
	}
	.banner .about-text-1 {
		margin: 18.5% 0 0 46%;
	}
	.banner .about-text-2 {
		margin: 23.2% 0 0 48.5%;
	}
	.lb-section section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

/* Tablet Portrait */
@media only screen and (max-device-width: 768px) {
	.team .image-container {
		float: left;
		margin: 0 20px 5px 0;
	}
	.news .banner-text {
		font-size: 22px;
	}
}

/* Phone */
@media only screen and (max-device-width: 767px) {
	h2 {
		font-size: 2em;
	}
	.navbar-collapse {
		margin: 0 !important;
	}
	.quote {
		height: 600px;
	}
	.browser-hero {
		background-color: #b3161f;
	}
	.browser-hero .btn {
		margin-bottom: 12px;
	}
	.browser-hero .container {
		padding-top: 20px;
		padding-bottom: 0;
	}
	.home.banner .banner-text {
		font-size: 20px;
		margin: 30px 0 0 20px;
	}
	.team h2 {
		margin: 22px 0;
	}
	.about.banner .banner-text {
		font-size: 20px;
		line-height: 0.9;
	}
	.blog .container {
		padding-bottom: 30px;
	}
	.lb-section .fa {
		font-size: 130px !important;
	}
	.icon-pad {
		padding-left: 152px;
	}
	.news .banner-text {
		background-color: rgba(255,255,255,0.40);
		text-align: right;
	}
	.news-section h3,
	.lb-section h3 {
		font-size: 28px;
	}
	.icon-bar {
		background-color: #231f20;
	}
	.navbar-toggle {
		margin-top: 13px;
	}
	.navbar-brand {
		margin: 0;
		padding: 5px;
	}
	.navbar-nav > li > a {
		height: auto;
		padding: 12px 0;
	}
	.trial-info h2,
	.trial-info p {
		padding: 0;
	}
}

/* Tiny phone */
@media only screen and (max-device-width: 400px) {
	.team .image-container {
		float: none;
		margin: 5px 10px;
	}
}
